# This is Git's per-user configuration file.
[user]
name = Rob Sanheim
email = rsanheim@gmail.com

[alias]
  br = branch
  co = checkout
  ci = commit
  cp = cherry-pick
  dc = diff --cached
  di = diff
  lp = log -p
  st = status

[push]
	default = current

[hub]
	protocol = https
[core]
	excludesfile = /Users/rsanheim/.gitignore_global
[github]
	user = rsanheim
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[credential]
	helper = osxkeychain
