"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "spec/cassettes"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "9363c2a1-ce13-c340-7351-14b4c86035b6"
  "one-dark-ui":
    fontSize: 14
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
