packages: [
  "atom-clock"
  "busy-signal"
  "city-lights-syntax"
  "city-lights-ui"
  "copy-as-rtf"
  "ex-mode"
  "floobits"
  "intentions"
  "language-haml"
  "linter"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "pretty-json"
  "solarized-dark-ui"
  "solarized-light-ui"
  "sort-lines"
  "teletype"
  "vim-mode-plus"
]
