packages: [
  "busy-signal"
  "ex-mode"
  "intentions"
  "language-haml"
  "linter"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "solarized-dark-ui"
  "solarized-light-ui"
  "sort-lines"
  "teletype"
  "vim-mode-plus"
]
